{% extends 'base.html.twig' %}

{% block title %}JobOffer{% endblock %}

{% block body %}
    <h1>JobOffer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job_offer.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job_offer.description }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ job_offer.reference }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ job_offer.notes }}</td>
            </tr>
            <tr>
                <th>Activated</th>
                <td>{{ job_offer.activated ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>JobTitle</th>
                <td>{{ job_offer.jobTitle }}</td>
            </tr>
            <tr>
                <th>JobType</th>
                <td>{{ job_offer.jobType }}</td>
            </tr>
            <tr>
                <th>JobCategory</th>
                <td>{{ job_offer.jobCategory }}</td>
            </tr>
            <tr>
                <th>ClosingDate</th>
                <td>{{ job_offer.closingDate ? job_offer.closingDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ job_offer.location }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ job_offer.salary }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ job_offer.createdAt ? job_offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ job_offer.updatedAt ? job_offer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ job_offer.deletedAt ? job_offer.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('job_offer_index') }}">back to list</a>

    <a href="{{ path('job_offer_edit', {'id': job_offer.id}) }}">edit</a>

    {{ include('job_offer/_delete_form.html.twig') }}
{% endblock %}
